.image-button {
  opacity: 1;
  display: inline-block;
  border: 2px solid var(--vscode-scrollbarSlider-hoverBackground);
  width: 80px;
  height: auto;
  margin: 1px;
  transition: all 200ms ease;
  backface-visibility: hidden;
  border-radius: 8px;
}

.image-button:hover {
  border-color: var(--vscode-textLink-foreground);
  cursor: pointer;
  transform: scale(1.1);
}

button.button-primary {
  background-color: #2a5db0;
  color: var(--vscode-button-foreground);
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  transition: all 200ms ease;
}

button.button-primary:hover {
  background-color: #3679e6;
}

button.button-secondary {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  border-radius: 5px;
  border: transparent;
  cursor: pointer;
  transition: all 200ms ease;
}

button.button-secondary:hover {
  background-color: var(--vscode-button-hoverBackground);
}
