:root {
  --controls-background: rgba(0, 0, 0, 0.3);
}

body {
  padding: 20px 20px;
}

video {
  height: 100%;
  width: 100%;
}

.checkered-bg {
  background-image:
      linear-gradient(45deg, #ccc 25%, transparent 25%), 
      linear-gradient(135deg, #ccc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ccc 75%),
      linear-gradient(135deg, transparent 75%, #ccc 75%);
  background-size:25px 25px; /* Must be a square */
  background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px; /* Must be half of one side of the square */
}

.media-container {
  background-color: black;
  border: 1px solid transparent;
  border-radius: 1.9% 1.9% 0 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 16/9;
}

.hidden {
  display: none;
}

.media-player {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.space-between-flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 8px;
}

.control-button {
  cursor: pointer;
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-foreground);
  padding: 2px 6px 2px 6px;
  margin-right: 4px;
  margin-top: 5px;
  display: flex; 
  align-items: center; 
  border-radius: 5px;
}

.control-button:hover {
  background-color: var(--vscode-button-hoverBackground);
}

.progress-bar {
  display: flex;
  align-items: center;
  background-color: var(--vscode-editorGutter-background);
  width: 100%;
  height: 5px;
  flex-wrap: wrap;
}

.progress-bar:hover {
  cursor: pointer;
}

.progress-bar:hover .demo-fill {
  background-color: rgba(255, 255, 255, 0.342);
}

.color-fill,
.demo-fill {
  height: 5px;
  transition: 0.3s;
}

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description-container {
  width: 100%;
  border-radius: 0 0 0.4rem 0.4rem;
  margin-bottom: 5px;
  max-height: 20rem;
  display: block;
}

.description {
  width: 100%;
  position: relative;
  transition: max-height 650ms;
}

.module-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 5px;
  overflow-wrap: break-word;
  font-weight: bold;
}

.description-header {
  font-size: var(--vscode-font-size);
  font-weight: 600;
  overflow-wrap: break-word;
}

.description-value {
  font-size: 13px;
  overflow-wrap: break-word;
}
